.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 80vh;
  display: grid;
  place-content: center;
  border-bottom: 2px solid #00001a;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0 0.5);
}
.login-form__header {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 2rem;
}
.login-form .form-group {
  margin-bottom: 1rem;
}
.login-form__body__input-group__label {
  display: block;
}
.login-form__body__input-group__input {
  display: block;
  padding: 1rem;
  border-radius: 10px;
}
