.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../assets/hero/hero4.jpeg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: grid;
  place-content: center;
}
.hero-title {
  color: black;
  font-size: 50px;
  display: grid;
  place-content: center;
  margin-top: 70px;
}
.hero-subtitle {
  display: grid;
  place-content: center;
  color: #00001a;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-right: 100px;
  margin-left: 150px;
}
.hero-buttons {
  display: flex;
  place-content: center;
}
.hero-buttons a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 60px;
  background-color: #919191;
  padding: 5px 10px;
  border-radius: 5px;
}
.hero-buttons a:nth-child(1) {
  background-color: #00001a;
}
