.login{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
}
.login .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form__header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-form__body {
  display: flex;
  flex-direction: column;
}

.login-form__body__input-group {
  margin-bottom: 15px;
}

.login-form__body__input-group__label {
  display: block;
  margin-bottom: 5px;
}

.login-form__body__input-group__input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.login-form__body button{
  display: grid;
  place-content: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #00001a;
  color: white;
  cursor: pointer;
}
.login-form__footer {
  margin-top: 20px;
}

.login-form__footer a {
  color: #007bff;
  text-decoration: none;
}

.login-form__footer a:hover {
  text-decoration: underline;
}
