.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .admin h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .admin button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  