header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background: linear-gradient(to right, #5f2c82, #49a09d);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.header-logo img {
  width: 80px;
  height: 80px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.header-logo img:hover {
  box-shadow: 0 0 20px #00001a;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header-nav ul li {
  margin-left: 20px;
  list-style: none;
}
header a {
  text-decoration: none;
  color: #00001a;
  font-size: 20px;
  font-weight: 500;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

header a:hover {
  color: #ff6347;
  text-decoration: underline;
}
.getstarted a {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
}
