header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(135deg , rgba(255,255,255,0),rgba(255,255,255,0.1) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0
    .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-logo img{
    width: 80px;
    height: 80px;
}
.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
    margin-left: 20px;
    list-style: none;
}
header a{
    text-decoration: none;
}