.signup {
  display: grid;
  place-content: center;
  margin-top: 50px;
  height: 80vh;  
}
.signup-form-container {
  text-align: center;
}
.signup-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}
.signup-form .form-control {
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
.btn {
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #00001a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
.signup-form__footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
.signup-form__footer a {
  color: #007bff;
  text-decoration: none;
}
.signup-form__footer a:hover {
  text-decoration: underline;
}
